 {% load static %}
 <!DOCTYPE HTML>
<html>

<head>
  <title>COLEGIOS EUSKADI</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <script src="https://kit.fontawesome.com/" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  
 
</head>

<body>
  <div id="main">
    <div id="header">
      <button class="switch" id="switch">
        <span><i class="fa-solid fa-sun"></i></span>
        <span><i class="fa-solid fa-moon"></i></span>
      </button>
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><!--<a href="base.html">--><span class="logo_colour">EUSKADIKO IKASTOLAK</span></a></h1>
          <h2>Ikastolen gida bere hirietan</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href=" {% url 'index' %}">AURKIBIDE</a></li>
          <li><a href=" {% url 'listaCiudad' %}">Hirien Zerrenda</a></li>
          <li><a href=" {% url 'listaColegio' %}">Ikastolen Zerrenda</a></li>
          <li><a href=" {% url 'listaProfesor' %}">Irakasleen Zerrenda</a></li>
          
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3>Azken Albisteak</h3>
            <h4>
              Eusko Jaurlaritzak 15,6 milioi euro bideratuko ditu Etxebarriko institutu berrira
              </h4>
            <h5>2022ko ekainaren 14an, asteartea </h5>
            <p>El edificio, que lleva un año de retraso, comenzará a construirse a principios de 2023 y albergará 5 líneas de la ESO y 3 de Bachillerato
              .&nbsp;<a href="https://www.elcorreo.com/bizkaia/nervion/nuevo-instituto-etxebarri-20220614162020-nt_amp.html">gehiago irakurri</a></p>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Zuzeneko Estekak</h3>
            <ul>
              <li><a href="https://www.euskadi.eus/eusko-jaurlaritza/-/informazioa/eskolako-agenda-21-jasangarritasunerako-hezi/">Agenda 30</a></li>
              <li><a href="https://www.euskadi.eus/temas/-/educacion/">Bekak eta Laguntzak</a></li>
              <li><a href="https://www.euskadi.eus/gobierno-vasco/departamento-educacion/">Hezkuntza Departamentua: Azken eguneraketak</a></li>
              <li><a href="https://www.euskadi.eus/onarpena-haur-lehen-eta-derrigorrezko-bigarren-hezkuntza/web01-a2hikast/eu/">Onarpena eta Matrikulazioa</a></li>
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Bilatu...</h3>
            <form method="post" action="#" id="search_form">
              <p>
                <input class="search" type="text" name="search_field" value="Enter keywords....." />
                <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
              </p>
            </form>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content">
        {%block contenido%}
        {%endblock%}
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="index.html">Home</a> | <a href="examples.html">Examples</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="contact.html">Contact Us</a></p>
      <p>Copyright &copy; simplestyle_6 | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">Free CSS Templates</a></p>
    </div>
    <p>&nbsp;</p>
  </div>
</body>

<script>
  const bdark = document.querySelector('#bdark');
  const body = document.querySelector('#body');

  bdark.addEventListener('click', e=> {
      body.classList.toggle('darkmode');
  });

</script>
</html>
