{% extends 'base.html' %}

{% block contenido %}
        <h1>Ikastolaren xehetasuna:</h1>
        <p>Izena: {{colegio.nombre}}</p>
        <p>Kokapena: {{colegio.ubi}}</p>
        <p>Hiria: {{colegio.Ciudad.nombre}}</p>
        <p>Ematen den gutxieneko ikastaroa: {{colegio.cursoMin}}</p>
        <p>Ematen den gehieneko ikastaroa: {{colegio.cursoMax}}</p>
        <p>Azterketa-eredua: {{colegio.modeloEstudio}}</p>

        {% if colegio.imagenColegio %}
	        <p> Imagen </p>
            
	        <img class="misImagenesColegio" src="{{Colegio.imagenColegio}}" alt="Imagen">
        {% else %}
	        <p>Ez dago ikastetxe honetarako irudi erabilgarririk. </p>
        {% endif %}

{% endblock %}