<html>
    <head>
        <title>DETALLE DEL COLEGIO</title>
    </head>
    
    <body>
        <h1>Detalle del Colegio:</h1>
        <p>Nombre: {{colegio.nombre}}</p>
        <p>Ubicacion: {{colegio.ubi}}</p>
        <p>Ciudad: {{colegio.Ciudad.nombre}}</p>
        <p>Curso minimo que se imparte: {{colegio.cursoMin}}</p>
        <p>Curso maximo que se imparte: {{colegio.cursoMax}}</p>
        <p>Modelo de estudio: {{colegio.modeloEstudio}}</p>

        {% if colegio.imagenColegio %}
	        <p> Imagen </p>
            
	        <img class="misImagenesColegio" src="{{Colegio.imagenColegio}}" alt="Imagen">
        {% else %}
	        <p> No hay imagen disponible para este Colegio. </p>
        {% endif %}
    </body>
    
</html>